.inputBox {
  display: flex;
  margin: 0 auto;
  flex-direction: row;
  width: 220px;
  height: 25px;
  margin-bottom: 3px;
  justify-content: space-between;
}

.inputBox > label {
  font-weight: 600;
}

.bases {
  margin-top: 10%;
}
